Repository valeth/javelin: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prepare:install-rust, test:stable, test:nightly, test:clippy

.gitlab-ci.yml:

image: "debian:stretch-slim"

stages:
  - prepare
  - build
  - test
  - publish

variables:
  RUSTUP_HOME: "$CI_PROJECT_DIR/.rustup"
  CARGO_HOME: "$CI_PROJECT_DIR/.cargo"

.write_cache:
  cache:
    key: "$CI_COMMIT_REF_SLUG-rustup"
    paths:
      - .rustup
      - .cargo

.read_cache:
  cache:
    key: "$CI_COMMIT_REF_SLUG-rustup"
    paths:
      - .rustup
      - .cargo
    policy: pull

.toolchain-env: &toolchain-env
  - apt-get update
  - apt-get install -y --no-install-recommends ca-certificates libssl-dev libc6-dev libsqlite3-dev pkg-config gcc
  - export PATH="$CARGO_HOME/bin:$PATH"

.toolchain-stable:
  extends: .read_cache
  before_script:
    - *toolchain-env
    - rustup show

.toolchain-nightly:
  extends: .read_cache
  allow_failure: true
  before_script:
    - *toolchain-env
    - rustup install nightly --profile minimal
    - rustup override set nightly
    - rustup show

####### Jobs #######

prepare:install-rust:
  extends: .write_cache
  stage: prepare
  script:
    - apt-get update
    - apt-get install -y --no-install-recommends ca-certificates curl
    - curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs > rustup.sh
    - sh rustup.sh -y --default-host x86_64-unknown-linux-gnu --default-toolchain none
    - export PATH="$CARGO_HOME/bin:$PATH"
    - rustup install $(cat rust-toolchain) --profile minimal
    - rustup component add clippy
  rules:
    - changes: [rust-toolchain]

test:stable:
  extends: .toolchain-stable
  stage: test
  script:
    - cargo test --workspace --tests
  rules:
    - changes:
      - "Cargo.toml"
      - "Cargo.lock"
      - "**/*.rs"

test:nightly:
  extends: .toolchain-nightly
  stage: test
  script:
    - cargo test --workspace --tests
  rules:
    - changes:
      - "Cargo.toml"
      - "Cargo.lock"
      - "**/*.rs"

test:clippy:
  extends: .toolchain-stable
  stage: test
  allow_failure: true
  script:
    - cargo clippy
  rules:
    - changes:
      - "**/*.rs"

deploy:crates-io:
  extends: .toolchain-stable
  stage: publish
  script:
    - cargo publish --token $CRATES_IO_API_TOKEN
  rules:
    - if: '$CI_PROJECT_PATH == "valeth/javelin" && $CI_COMMIT_TAG != null'

Update flake.nix
  flake.nix
Due: none

Implement basic SRT service
  Cargo.lock
  Cargo.toml
  crates/javelin-rtmp/src/peer.rs
  crates/javelin-srt/Cargo.toml
  crates/javelin-srt/src/config.rs
  crates/javelin-srt/src/lib.rs
  crates/javelin-srt/src/peer.rs
  crates/javelin-srt/src/service.rs
  crates/javelin-types/src/data.rs
  crates/javelin-types/src/transport.rs
  crates/javelin/Cargo.toml
  crates/javelin/src/main.rs
Due: test:stable, test:nightly, test:clippy

Format files with rustfmt
  crates/javelin-hls/src/lib.rs
  crates/javelin-hls/src/service.rs
  crates/javelin-rtmp/src/peer.rs
  crates/javelin-srt/src/service.rs
  crates/javelin-types/src/data.rs
  crates/javelin-types/src/lib.rs
  crates/javelin-types/src/transport.rs
Due: test:stable, test:nightly, test:clippy

Bump rust version
  flake.lock
  rust-toolchain.toml
Due: none

Move tools and distribution files into subdirs
  dist/Dockerfile
  dist/compose.yml
  tools/docker
Due: none

Use packet id instead of type enum
  crates/javelin-core/src/session/instance.rs
  crates/javelin-hls/src/writer.rs
  crates/javelin-rtmp/src/peer.rs
  crates/javelin-rtmp/src/proto.rs
  crates/javelin-srt/src/peer.rs
  crates/javelin-types/src/data.rs
  crates/javelin-types/src/lib.rs
  crates/javelin-types/src/packet.rs
  crates/javelin-types/src/transport.rs
Due: test:stable, test:nightly, test:clippy

Bump rust version to 1.82.0
  Cargo.toml
  flake.lock
  flake.nix
  rust-toolchain.toml
Due: test:stable, test:nightly

Remove old GitLab CI configuration
  .gitlab-ci.yml
Due: none

Replace readme with WIP notice
  README.md
Due: none

chore(cargo): Update crate dependencies
  Cargo.lock
  crates/javelin-hls/Cargo.toml
  crates/javelin-rtmp/Cargo.toml
Due: test:stable, test:nightly

chore: Update cargo deny configuration
  deny.toml
Due: none

docs(readme): Replace WIP message with highlighted note
  README.md
Due: none

chore(license)!: Remove old license file
  Cargo.toml
  LICENSE
  crates/javelin-codec/Cargo.toml
  crates/javelin-core/Cargo.toml
  crates/javelin-hls/Cargo.toml
  crates/javelin-rtmp/Cargo.toml
  crates/javelin-srt/Cargo.toml
  crates/javelin-types/Cargo.toml
  crates/javelin/Cargo.toml
  deny.toml
Due: test:stable, test:nightly

docs: Remove CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

chore: Remove CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

chore(readme): Create new contributing guide and update readme
  README.md
  docs/CONTRIBUTING.md
Due: none

docs(readme): Create new contributing guide and update readme
  README.md
  docs/CONTRIBUTING.md
Due: none

chore(clog): Move changelog to docs directory
  README.md
  docs/CHANGELOG.md
Due: none

docs(clog): Move changelog to docs directory
  README.md
  docs/CHANGELOG.md
Due: none

chore(readme): Add links to docs files
  README.md
Due: none

docs(readme): Add links to docs files
  README.md
Due: none

docs(readme): Some small changes in wording
  README.md
Due: none

chore(readme): Some small changes in wording
  README.md
Due: none

chore(license)!: Provide a new license
  Cargo.toml
  LICENSE.md
  crates/javelin-codec/Cargo.toml
  crates/javelin-core/Cargo.toml
  crates/javelin-hls/Cargo.toml
  crates/javelin-rtmp/Cargo.toml
  crates/javelin-srt/Cargo.toml
  crates/javelin-types/Cargo.toml
  crates/javelin/Cargo.toml
Due: test:stable, test:nightly

refactor(clippy): Apply some fixes for clippy linter warnings
  crates/javelin-codec/src/aac/adts.rs
  crates/javelin-codec/src/aac/config.rs
  crates/javelin-codec/src/avc/avcc.rs
  crates/javelin-codec/src/mpegts/transport_stream.rs
  crates/javelin-core/src/session/manager.rs
  crates/javelin-hls/src/file_cleaner.rs
  crates/javelin-hls/src/m3u8.rs
  crates/javelin-hls/src/service.rs
  crates/javelin-hls/src/writer.rs
  crates/javelin-rtmp/src/peer.rs
  crates/javelin-srt/src/service.rs
  crates/javelin-types/src/data.rs
  crates/javelin-types/src/models.rs
  crates/javelin/src/database.rs
  crates/javelin/src/main.rs
  crates/javelin/src/management.rs
Due: test:stable, test:nightly, test:clippy

refactor(crates): Split server and cli into separate binaries
  crates/javelin/Cargo.toml
  crates/javelin/src/args.rs
  crates/javelin/src/bin/cli.rs
  crates/javelin/src/bin/server.rs
  crates/javelin/src/database.rs
  crates/javelin/src/lib.rs
  crates/javelin/src/management.rs
Due: test:stable, test:nightly, test:clippy

refactor(core): Wrap Config in newtype struct
  Cargo.lock
  crates/javelin-core/Cargo.toml
  crates/javelin-core/src/config.rs
  crates/javelin-core/src/lib.rs
  crates/javelin/src/bin/cli.rs
  crates/javelin/src/bin/server.rs
Due: test:stable, test:nightly, test:clippy

docs(contrib): Fix markdown formatting issue
  docs/CONTRIBUTING.md
Due: none

refactor(core): Change configuration format to TOML
  Cargo.lock
  crates/javelin-core/Cargo.toml
  crates/javelin-core/src/config.rs
  deny.toml
Due: test:stable, test:nightly, test:clippy

chore: Replace flake-utils with custom function
  flake.lock
  flake.nix
Due: none
